.images {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title { 
    font-family: Courier;
    font-size: 35px;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
    line-height: 10px;
}

.container {
    text-align: center;
}

.password {
    word-wrap: break-word;
    text-align: center;
    font-family: Courier;
    font-size: 30px;
    text-shadow: 0 2px black, 0 3px #777;
    border-top: 4px solid #ccc;
    border-left: 4px solid #ccc;
    border-right: 4px solid #333;
    border-bottom: 4px solid #333;
    color: #FFF;
    background-color: #999;
}


